* {
  font-family: "Montserrat", sans-serif;
}

body {
  padding-left: 2%;
  padding-right: 2%;
  overflow-x: hidden;
}

body h2 {
  border-bottom: 2px solid rgb(189, 189, 189);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

figcaption {
  margin-bottom: 3%;
  text-align: center;
  color: gray;
}

/* --------------------------------------------
Hamburger menu
-----------------------------------------------*/

.linkers {
  background-color: rgb(189, 189, 189);
  list-style-type: none; /* remvove bullet points */
  display: flex;
  margin-left: -2%; /* cancel left padding from body selector */
  margin-right: -2%; /* same but for right padding */
  margin-bottom: 3%;
  padding-left: 1%;
}

.linkers > li {
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.linkers > li > a {
  text-decoration: none; /* remove text decoration for link (underline) */
  color: black;
}

.linkers > li > a:visited {
  color: transparent; /* cancel color change when after visiting link */
}

#active {
  background-color: white;
}

#active a {
  color: rgb(26, 165, 222);
  font-weight: bold;
}

/* --------------------------------------------
Aside in introduction page
-----------------------------------------------*/

aside {
  width: 18%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  position: absolute;
  top: 30%;
  right: 0;
}

aside h3 {
  background-color: rgb(26, 165, 222);
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 7%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

aside ul {
  margin-top: 0;
  border: 1px solid rgb(224, 224, 224);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

aside li {
  padding: 2%;
}

/* --------------------------------------------
Introduction page left part
-----------------------------------------------*/

.container img {
  margin-left: 0;
}

.container {
  width: 80%;
}

/* --------------------------------------------
Top of all pages title and image
-----------------------------------------------*/

.background {
  position: relative;
  margin-left: -2%;
  margin-right: -2%;
  margin-bottom: -1%;
}

.background_image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* object-fit: cover; Zoom on the image and not stretch*/
  width: 100%;
  height: 25vh;
}

h1 {
  position: absolute;
  color: white;
  bottom: 0;
  margin-left: 2%;
}

/* --------------------------------------------
Footer
-----------------------------------------------*/

.wp-block-group.alignfull.has-background-color {
  background-color: rgb(189, 189, 189);
  width: 99.8vw; /* adjust thsi value to fix bottom right roudned corner issue (lower value)  */
  margin-left: -2%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* footer image settings */
.wp-block-group.alignfull.has-background-color img {
  margin-left: 77vw;
  margin-bottom: -2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

/* specific footer settings for introduciton page */
.container .wp-block-group.alignfull.has-background-color {
  margin-left: -2.5%;
}

/* --------------------------------------------
Table in logbook
-----------------------------------------------*/

table {
  border-spacing: 0;
  width: 100%;
  margin-left: -2.5%;
}

/* table header */
table tr:first-child td {
  background-color: rgb(26, 165, 222);
  color: white;
}

/* All individual cases of the table */
td {
  border: solid 1px lightgray;
  padding: 2%;
}

/* rounding edges of the table */
table tr:first-child td:first-child {
  border-top-left-radius: 15px;
}
table tr:first-child td:last-child {
  border-top-right-radius: 15px;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}


/* Detailed description page */

.skill {
  margin-bottom: 5%;
  border: 1px solid;
  border-radius: 15px;
  background-color: lightgray;
}

.skill figcaption {
  margin-top: 1%;
  color: black;
}

.skill h4 {
  display: inline-block;
  margin: 3%;
  border: 1px solid black;
  border-radius: 15px;
  padding: 1%;
  background-color: rgb(26, 165, 222);
  color: white;
}

.skill p {
  margin-left: 3%;
}

.skill img {
  border-radius: 15px;
}
