body{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

#start-screen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50);
    text-align: center;
}

#start-screnn h1{
    font-size: 3em;
    margin: 0;
}

#start-screen button{
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 20px;
    cursor: pointer;
}
